.principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    
}

.formulario{
width: 25vw;
height: 50vh;
display: flex;
justify-content: center;
flex-direction: column;
gap: 15px;
}

.logo img{
    max-width: 25vw;
} 
    